<style>
  h1{
    font-size: 50px;
    color: red;
  }


  #top h1{
    color: blue;
  }

  #input h1{
    color: black;
  }

  ul {
    color: blue;
    font-family: helvetica;
    font-weight: 800;
  }

  img {
    width: 25vw;
  }

</style>
